@media screen and (max-width: 450px) {
    .popup__nav-section {
        width: 100%;
    }
    .popup__account-link {
        padding-bottom: 46px;
    }
}

@media screen and (min-width: 450px) {
    .popup__nav-section {
        width: 75%;
    }
    .popup__account-link {
        padding-bottom: 90px;
    }
}

.popup__nav {
    visibility: hidden;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    height: 100vh;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 700ms ease-out;
    opacity: 0;
    cursor: pointer;
}

.popup__nav_is-opened {
    visibility: visible;
    opacity: 1;
}

.popup__nav-section {
    height: 100vh;
    background-color: #FAFAFA;;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.popup-nav__close {
    margin: 20px 20px 0 auto;
    width: 32px;
    height: 32px;
    background-image: url('../../../images/plusBlack.svg');
    background-color: #FAFAFA;;
    border: none;
}

.popup-nav__menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.popup-nav__link {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.active__popupNavLink {
    font-weight: 500;
    padding-bottom: 4px;
    border-bottom: 1px solid black;
}

.active__profileLink {
    font-weight: 500;
}

