.MovieCardList {
    margin: 0;
    padding: 70px 70px 0px 70px;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, 364px);
	justify-content: center;
	grid-column-gap: 24px;
	grid-row-gap: 37px;
    background-color: #FAFAFA;
}

.movies__still {
    padding: 60px 70px 80px 70px;
    background-color: #FAFAFA;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.movies__button-overlay {
    grid-area: 1 / 1 / 2 / 2;
    border-radius: 6px;
    background-color: black;
    opacity: 0.2;
    height: 36px;
    transition: opacity 200ms linear, transform 200ms linear;
}

.movies__still-text {
    z-index: 1;
    grid-area: 1 / 1 / 2 / 2;
    margin: 0 auto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
}

.movies__button {
    grid-area: 1 / 1 / 2 / 2;
    z-index: 1;
	width: 100%;
	display: block;
    height: 36px;
    border-radius: 6px;
    border: none;
    background-color: #F4F4F4;
    transition: .5s;
}

.movies__button:hover{
    opacity: 0.5;
}
