@media screen and (max-width:700px) {
    .search-box {
        padding: 80px 10px 10px 10px;
    }
    .search-form {
        width: calc(100% - 19px);
        grid-template-columns: 1fr 80px;
        grid-template-rows: auto auto;
        row-gap: 49px;
    }
    .search-form__input {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        padding: 25px 0 25px 19px;
    }
    .search-form__submit{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .search-form__checkbox-box{
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
    .search-form__img {
        display: none;
    }
    .search-form__vl {
        display: none;
    }
    .search-form__gl {
        margin-top: 45px;
    }
    .search-form__checkbox-box {
        justify-content: center;
        gap: 20px;
    }
    .search-form__checkbox-name {
        font-size: 11px;
        line-height: 18px;
    }
}

@media screen and (min-width:700px) {
    .search-box {
        padding: 80px 30px 10px 30px;
    }
    .search-form {
        width: calc(100% - 63px);
        grid-template-columns: 34px 4fr 80px 40px 194px;
        grid-row: auto;
        padding-top: 25px;
        align-items: center;
    }
    .search-form__input {
        grid-column: 1 / 6;
        grid-row: 1 / 2;
        padding: 25px 0 25px 63px;
    }
    .search-form__submit{
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    .search-form__checkbox-box{
        grid-column: 5 / 6;
        grid-row: 1 / 2;
    }
    .search-form__img {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .search-form__vl {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
        border-left: 1px solid #CBCBCB;
        margin-left: 19px;
        margin-right: 19px;
        height: 40px;
    }
    .search-form__gl {
        margin-top: 109px;
    }
    .search-form__checkbox-box {
        justify-content: space-between;
    }
    .search-form__checkbox-name {
        font-size: 13px;
        line-height: 18px;
    }
}

@media screen and (min-width:1024px) {
    .search-box {
        padding: 70px 70px 10px 70px;
    }
    .search-form {
        grid-template-columns: 34px 4fr 80px 50px 194px;
    }
    .search-form__vl {
        margin-right: 29px;
    }
    .search-form__gl {
        margin-top: 69px;
    }
}

.search-box {
    background-color: #FAFAFA;
}

.search-form {
    display: grid;
}

.search-form__checkbox-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-form__img {
    z-index: 1;
    padding: 25px 0 25px 20px;
}

.search-form__input {
    background-color: #FFFFFF;
    border-radius: 9px;
    outline: none;
    border: none;
    width: 100%;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
    transition: all 200ms linear;
}

.search-form__input:focus {
    box-shadow: 0px 0px 3px 0px rgba(41, 94, 232, 1);
}

.search-form__checkbox {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    background: #EBEBEB;
    width: 36px;
    height: 20px;
    border-radius: 20px;
    transition: .5s;
    position: relative;
}

.search-form__checkbox:checked {
    background: #2BE080;
}

.search-form__checkbox:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 2px;
    bottom: 2px;
    transform: scale(1.1);
    border-radius: 50%;
    background: #F5F5F5;
    left: 5.56%;
    transition: .5s;
}

.search-form__checkbox:checked:before {
    left: 50.89%;
    right: 8.33%;
    background: #FFFFFF;
}

.search-form__submit {
    position: relative;
    width: 80px;
    border: none;
    background: none;
    text-align: end;
    padding: 0;
    margin-right: 19px;
}

.search-form__checkbox-name {
    padding: 0;
}