.aboutMe {
    background-color: #FAFAFA;
}

.aboutMe__infoBox {
    margin-top: 66px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aboutMe__brief {
    max-width: 600px;
    position:relative;
}

.aboutMe__img {
    width: 270px;
    border-radius: 10px;
}

.aboutMe__name {
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    margin: 0;
    padding: 0;
}

.aboutMe__job {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    margin: 18px 0 0 0;
    padding: 0;
}

.aboutMe__info {
    margin: 26px 0 0 0;
    padding: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    mix-blend-mode: normal;
}

.aboutMe__links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: absolute;
    bottom: 0;
}

.aboutMe__link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: black;
}